.button {
  border-radius: 3px;
  box-shadow: 1px 1px 0 #fff;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.1em 1.5em 0.2em;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
}

.button:disabled {
  cursor: not-allowed;
}

.button--primary {
  background: linear-gradient(#a2d73f, #7ec31f);
  border: 1px solid #3a9a00;
}

.button--primary:active {
  background: linear-gradient(#83af33, #69a51b);
}

.button--primary:disabled {
  background: linear-gradient(
    rgba(148, 200, 62, 0.4),
    rgba(102, 165, 28, 0.51)
  );
  border: 1px solid rgba(58, 154, 0, 0.25);
}

.button--cancel {
  background: linear-gradient(#f65e6f, #f13848);
  border: 1px solid #a21f2a;
}

.button--cancel:active {
  background: linear-gradient(#cb5766, #b92c38);
}
