.container {
  column-gap: 5em;
  column-width: 20em;
  margin: 0 auto;
  max-width: 57.44em;
}

@media (max-width: 65em) {
  .container {
    column-gap: calc(-16em + 32vw);
  }
}

@media (max-width: 53.78em) {
  .container {
    column-gap: 1.25em;
  }
}

.container__element {
  break-inside: avoid;
}
