.text-field {
  background: linear-gradient(#f7f7f7, #f2f2f2);
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  box-shadow: 1px 2px 0 #ffffff;
  display: flex;
}

.text-field__icon-container {
  align-items: center;
  display: flex;
  height: 2.45em;
  justify-content: center;
  text-align: center;
  width: 3.75em;
}

.text-field__input {
  background-color: transparent;
  border: none;
  color: #444;
  font: inherit;
  width: 100%;
}
