.text-field {
  align-items: center;
  background: linear-gradient(#f7f7f7, #f2f2f2);
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  box-shadow: 1px 2px 0 #ffffff;
  display: flex;
  position: relative;
}

.text-field__icon-container {
  align-items: center;
  border-right: 1px solid #ddd;
  display: flex;
  height: 1.88em;
  min-width: 59px;
  justify-content: center;
  text-align: center;
}

.text-field__caret {
  content: url(caret-down.svg);
  position: absolute;
  right: 1.5em;
  top: 50%;
  transform: translate(50%, -40%);
}
