.button {
  border-radius: 3px;
  box-shadow: 1px 1px 0 #fff;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  padding: 0.1em 1.5em 0.2em;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.button--full-width {
  width: 100%;
}

.button--primary {
  background: linear-gradient(#a2d73f, #7ec31f);
  border: 1px solid #3a9a00;
}

.button--primary:disabled {
  background: linear-gradient(rgba(148, 200, 62, 0.4), rgba(102, 165, 28, 0.51));
  border: 1px solid rgba(58, 154, 0, 0.25);
}

.button--danger {
  background: linear-gradient(#f65e6f, #f13848);
  border: 1px solid #a21f2a;
}

.button--smaller-text {
  font-size: 1.2em;
  padding: 0.15em 0 0.3em;
}
