@import 'button/button--primary.css';
@import 'button/button--cancel.css';

.button {
  border-radius: 3px;
  box-shadow: 1px 1px 0 #fff;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.1em 1.5em 0.2em;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
}

.button:disabled {
  cursor: not-allowed;
}

.button--smaller-text {
  font-size: 1.2em;
  padding-bottom: 0.3em;
  padding-top: 0.15em;
}
