.button {
  border-radius: 3px;
  box-shadow: 1px 1px 0 #ffffff;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 24px;
  height: 48px;
  letter-spacing: 0.5px;
  margin-left: 1px;
  padding-bottom: 2px;
  padding-right: 2px;
  text-shadow: 1.5px 1px 0 rgba(0, 0, 0, 0.5);
  width: 339px;
}

.button--primary {
  background: linear-gradient(#a2d73f, #7ec31f);
  border: 1px solid #3a9a00;
}
