.checkbox {
  display: flex;
}

.checkbox__input {
  height: 25px;
  position: absolute;
  width: 25px;
}

.checkbox__box {
  align-items: center;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  display: inline-flex;
  justify-content: center;
  height: 23px;
  position: relative;
  width: 23px;
  z-index: 1;
}

.checkbox__input + .checkbox__box > .checkbox__mark {
  background-color: #88c814;
  border-radius: 3px;
  box-shadow: 1px 1px 0 #fff;
  display: block;
  height: 13px;
  opacity: 0;
  outline: none;
  width: 13px;
  transform: scale(0, 0);
  transition: 0.1s;
}

.checkbox__input:checked + .checkbox__box > .checkbox__mark {
  opacity: 1;
  transform: scale(1, 1);
}

.checkbox__label {
  color: rgb(175,175,175);
  font-family: "Titillium Web", sans-serif;
  font-size: 1.125em;
  margin-left: 13px;
}
