.glyphicon {
  display: inline-block;
}

.glyphicon--user {
  content: url(../icons/glyphicons_003_user.png);
}

.glyphicon--lock {
  content: url(../icons/glyphicons_203_lock.png);
}

.glyphicon--envelope {
  content: url(../icons/glyphicons_010_envelope.png);
}

.glyphicon--google-maps {
  content: url(../icons/glyphicons_242_google_maps.png);
}

.glyphicon--phone {
  content: url(../icons/glyphicons_139_phone.png);
}
