.input-box {
  background: linear-gradient(#f7f7f7, #f2f2f2);
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  box-shadow: 1px 1.732px 0 #ffffff;
  display: flex;
  height: 39px;
  margin-bottom: 20px;
}

.input-box:last-child {
  margin-bottom: 13px;
}

.input-box__icon {
  align-items: center;
  border-right: 1px solid #ddd;
  display: flex;
  justify-content: center;
  width: 59px;
}

.input-box__body {
  flex-grow: 1;
}

.input-box__input {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  display: block;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  letter-spacing: 0.2px;
  height: 100%;
  padding: 0 21px;
  width: 100%;
}

