.input-box {
  background: linear-gradient(#f7f7f7, #f2f2f2);
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  box-shadow: 1px 2px 0 #ffffff;
  display: flex;
  height: 39px;
  margin-bottom: 1.25em;
}

.input-box--multiline {
  height: auto;
}

.input-box--multiline > .input-box__input {
  padding: 0.8em 1em;
}

.input-box__icon {
  align-items: center;
  border-right: 1px solid #ddd;
  display: flex;
  justify-content: center;
  width: 3.75em;
}

.input-box__body {
  position: relative;
  width: 100%;
}

.input-box__input {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: #444;
  display: block;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  height: 100%;
  padding: 0 1.33em;
  width: 100%;
}

.input-box__input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #afafaf;
  opacity: 1; /* Firefox */
}

.input-box__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #afafaf;
}

.input-box__input::-ms-input-placeholder { /* Microsoft Edge */
  color: #afafaf;
}

.input-box__input--dropdown {
  padding-right: 3em;
}

.input-box__caret {
  content: url(../icons/caret-down.svg);
  position: absolute;
  right: 1.5em;
  top: 50%;
  transform: translate(50%, -40%);
}
