.panel {
  margin: 0 auto 2em;
  min-width: 20em;
  max-width: 40em;
  padding-left: 2em;
  padding-right: 2em;
}

.panel__title {
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2em;
  margin: 0.5em 0 0.4em;
  letter-spacing: 0.05em;
  text-shadow: 1px 2px 2px rgba(43, 1, 0, 0.75);
  text-align: center;
}

.panel__body {
  background-color: #f3f3f3;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
  padding: 1.25em;
}

.panel__row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.panel__column--equal {
  width: 45%;
}
